.form{
    background: url('../img/form/img-321.png') no-repeat;
    @include back-center;
    padding: 20rem 40rem;
}
@media (max-width:48em) {
    .form{
        background-position-x: left;
        padding: 20rem 1rem;
    }
}