.form__description {
    @include font(300, 2.6rem, 150%);
    max-width: 58.4rem;
    margin-bottom: 2.9rem;
}

@media (max-width:48em) {
    .form__description {
        width: 55.4rem;
        text-align: center;
        @include font(300, 3rem, 150%);
    }
}